.wrapper
  = render "header"
  .main
    .main_text
      Check what you did today!
      %h6 今日やったことをチェックしよう！
    %video{src:"/assets/mixkit-sun-rays-pass-through-the-clouds-in-the-mountains-4113.mp4",autoplay:"autoplay", loop:"loop", muted: "muted"}
  = render "footer"
%script
  $(".menu-toggle").on('click', function() {
  $(this).toggleClass("on");
  $('.menu-section').toggleClass("on");
  $("nav ul").toggleClass('hidden');
  });
