$orng: #ea6446;
.contents.row {
  .success {
    h3 {
      font-size: 20px;
    }
    .btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-decoration: none;
      text-transform: uppercase;
      color: black;
      text-align: center;
      font-family: "Roboto", sans-serif;
      letter-spacing: 1px;
      font-size: em(18);
      width: 280px;
      height: 48px;
      background-color: white;
      position: relative;
      overflow: hidden;
      display: block;
      margin-top: 12px;
      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-right: 30px solid $orng;
        position: absolute;
        bottom: -37%;
        left: -1px;
        transform: rotate(-45deg) translateX(-50px);

        transition: transform 200ms ease;
      }

      &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-right: 30px solid $orng;
        position: absolute;
        top: -37%;
        right: -2px;
        transform: rotate(135deg) translateX(-50px);

        transition: transform 200ms ease;
      }

      &:hover {
        &:before {
          transform: rotate(-45deg) translateX(0);
        }

        &:after {
          transform: rotate(135deg) translateX(0);
        }
      }
    }
  }
}
