.header_user-edit {
  text-align: center;
  text-decoration: none;
  color: white;
  margin-left: 200px;

  font-size: 30px;
  line-height: 100px;
  a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-left: 100px;
  }
}
.video-moved {
  opacity: 0.4;
  video {
    height: 100vh;
    position: absolute;
    margin: 0 auto;
    padding: 0;
  }
}
.edit_user-form {
  position: relative;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  border-radius: 30px;

  &__logout {
    .logout-btn {
      text-decoration: none;
      color: white;
      background-color: green;
      display: inline-block;
      padding: 20px;
      border-radius: 30px;
      &:hover {
        background-color: orange;
        color: purple;
      }
    }
  }
  &__back {
    .back-btn {
      text-decoration: none;
      color: white;
      background-color: green;
      display: inline-block;
      padding: 20px;
      border-radius: 30px;
      &:hover {
        background-color: orange;
        color: purple;
      }
    }
  }

  .edit_user {
    .field {
      .label {
      }
      input {
        border-radius: 30px;
      }
    }
    .action {
      cursor: pointer;
      input {
        &:hover {
          background-color: orange;
          color: purple;
        }
      }
    }
  }
}
