.contents_success--background
  .contents_success
    .success
      %h3 送信が完了しました。
      %h4 今日、チェックリスト全てクリアの人は、
      %br  おめでとうございます！！
      %h4 今日、チェックリストあまり達成できなかった人は、
      %br  頑張りましょう！！
      %a{class:"btn", href:"/posts"}
        メニューへ戻る