%canvas{id:"canvas"}
  %script{src:"/assets/background.js"}
.wrapper
  = render "top/header"
  .main_user_index
    .main_user_index-btns
      %a{href: user_path(current_user),class:"reset button-shadow"}
        記録をみる
      %a{href:comment_path(current_user),class:"reset button-shadow"}
        チェックする
  = render "top/footer"
%script
  $(".menu-toggle").on('click', function() {
  $(this).toggleClass("on");
  $('.menu-section').toggleClass("on");
  $("nav ul").toggleClass('hidden');
  });

